
    <table id="add_config" cellpadding="0" cellspacing="0" border="1" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Config</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td><input type="text" id="txtName" /></td>
                <td><input type="text" id="txtCountry" /></td>
                <td><input type="button" onclick="Add()" value="Add" /></td>
            </tr>
        </tfoot>
    </table>
