<script type="text/javascript">
  function show1()
  { 
      document.getElementById("add-table-div").style.display="block";
      document.getElementById("add-csv-div").style.display="none";
  }
  function show2()
  { 
      document.getElementById("add-table-div").style.display="none";
      document.getElementById("add-csv-div").style.display="block";
  }
  
</script>
<div>
  <center>
    
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="float:center;">+ ADD A CONFIG</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ADD A CONFIG</h4>
        </div>
        <div class="modal-body">
          <form method="POST">
            
            <font color="black" size="+1"><b>Type</b></font>
            <!-- <br><input type="text" name="Purpose" size=30 id = 'Purpose' required></br> -->
            <center>
              <div>
                
                <div id="get-table">
                <button type="button" class="button" value="TABLE" style="float: left;" onclick="show1();" >TABLE</button>
                </div>
                
                <div id="get-csv">
                <button type="button" class="button" value="CSV" style="float: right;" onclick="window.location.href='{{ url_for( 'upload_admin',nam=pro, variable1=send[1], variable2=send2 ) }}';" >FILE UPLOAD</button>
                </div>

              </div>
            </center>
            
            <div style="display: none;" id="add-table-div">
            {% include "_table.html" %}
            </div>

           
            <br>
            <br>
          </form>
          
        </div>
        
      </div>
      
    </div>
  </div>
  </center>
</div>