<div>
  <center>
    
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="float:center;">+ ADD PROJECT</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ADD A PROJECT</h4>
        </div>
        <div class="modal-body">
          <form method="POST">
            <font color="black" size="+1"><b>Name</b></font>
            <br><input type="text" name="Name" size=30 id = 'Name' required></br>
            <font color="black" size="+1"><b>Description</b></font>
            <br><input type="text" name="Description" size=30 id = 'Description' required></br>
            <font color="black" size="+1"><b>Purpose</b></font>
            <br><input type="text" name="Purpose" size=30 id = 'Purpose' required></br>
            <font color="black" size="+1"><b>Teams</b></font>
            <br><input type="text" name="Teams" size=30 id = 'Teams' required></br>
            <br>
            <input type="submit" class="button" value="SAVE" name="save-project">
          </form>
          
        </div>
        
      </div>
      
    </div>
  </div>
  </center>
</div>