{% extends "_base1.html" %}

{% block head %}

<meta charset="utf-8" />
  
  <title>Show CSV</title>
  <style>
#show {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#show td, #show th {
  border: 1px solid #ddd;
  padding: 8px;
}

#show tr:nth-child(even){background-color: #f2f2f2;}

#show tr:hover {background-color: #ddd;}

#show th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000080;
  color: white;
}
</style>

  {% endblock %}

{% block content %}
	<br>
  <button type="button" class="button" id='newEntry' onclick="Act()">Actions</button>


<div id="showInDropDown" style="display:none">
    
    
        <button class="button1" value="Update_s3" onclick="window.location.href='{{ url_for( 'update_s3_admin',nam=pro, variable1 = pid, variable2 = cid) }}';">Update s3</button>
        <br>
        <button class="button1" value="Update_ext_config">Update external config</button>
        
    
</div>


<script>

function Act() {
    document.getElementById('showInDropDown').style.display = "block";
}

</script>`
	<br>
	<center>
	<form method="POST">
		<h1><b> Displaying the CONFIG-FILE </b></h1>
		<h2><b> User_name: {{pro}} Project-ID: {{pid}} Config-ID: {{cid}} </b></h2>
		<div class="table">

			<table id="show" name="show">
    {% for singleRow in range(data|length) %}
     {% if singleRow == 0 %}
        <thead>
        <tr id={{singleRow}}>
     {% else %} 
        <tr id={{singleRow}}>
     {% endif %}
      
     {% for rowSingleCell in range(data[0]|length) %}
     {% if singleRow == 0 %}
        <th>
       	{{ data[singleRow][rowSingleCell]}}
        </th>
     {% else %}
        <td>
        {{ data[singleRow][rowSingleCell] }} 
        </td>
     {% endif %}
     {% endfor %}

     {% if singleRow == 0 %}
        </tr>
        </thead>
        <tbody>
     {% else %}
        </tr>
     {% endif %}
     {% endfor %}
    
    </tbody>
    </table>
		     
		</div>
    <button type="button" class="button" onclick="window.location.href='{{ url_for( 'edit_config_file_admin', nam = pro, variable1 = pid, variable2 = cid) }}';">EDIT</button>
	<!-- <input type = "submit" class = "button" value="SAVE_CHANGES"/> -->
	</form>
	</center>
  
{% endblock %}