{% extends "_base1.html" %}

{% block head %}

<meta charset="utf-8" />
  
  <title>Show CSV</title>
  <style>
#show {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#show td, #show th {
  border: 1px solid #ddd;
  padding: 8px;
}

#show tr:nth-child(even){background-color: #f2f2f2;}

#show tr:hover {background-color: #ddd;}

#show th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000080;
  color: white;
}
</style>

  {% endblock %}

{% block content %}
<script type="text/javascript">
 
  function myFunction(){
    var arr1 = [];
    var get1 = document.getElementById("show").rows.length;
    var get2 = document.getElementById("show").rows[0].cells.length;
    for(i=0;i<get1;i++)
    {
      var arr2 = [];
      for(j=0;j<get2;j++)
      {
        var get3 = document.getElementById("id_"+i+"_"+j).innerText;
        arr2.push(get3);
      }
      arr1.push(arr2);
    }
    for(i=0;i<get1;i++)
    {
      console.log(arr1[i]);
    }
    var js_data = JSON.stringify(arr1);
    $.ajax({
            type : 'POST',
            url : "{{url_for('test_admin', nam=pro, variable1=pid, variable2=cid)}}",
            contentType: 'application/json;charset=UTF-8',
            dataType : 'json',
            data : js_data
          });
    alert("Changes have been saved.");
  }
</script>


	<br>
	<br>
	<center>

		<h1><b> EDIT the CONFIG-FILE </b></h1>
		<h2><b> User_name: {{pro}} Project-ID: {{pid}} Config-ID: {{cid}} </b></h2>
    <!-- <form method="POST"> -->
		<div class="table">

			<table id="show" name="show">
    {% for singleRow in range(data|length) %}
     {% if singleRow == 0 %}
        <thead>
        <tr id="{{singleRow}}">
     {% else %} 
        <tr id="{{singleRow}}">
     {% endif %}
      
     {% for rowSingleCell in range(data[0]|length) %}
     {% if singleRow == 0 %}
        <th id="id_{{singleRow}}_{{rowSingleCell}}"><div contenteditable>{{ data[singleRow][rowSingleCell] }}</div></th>
     {% else %}
        <td id="id_{{singleRow}}_{{rowSingleCell}}"><div contenteditable>{{ data[singleRow][rowSingleCell] }}</div></td>   
     {% endif %}
     {% endfor %}

     {% if singleRow == 0 %}
        </tr>
        </thead>
        <tbody>
     {% else %}
        </tr>
     {% endif %}
     {% endfor %}
    
    </tbody>
    </table>
		     
		</div>
    <!-- <button type="button" onclick="myFunction()">click</button> -->
   
	<input type = "submit" class = "button" value="SAVE_CHANGES" id="SAVE_CHANGES" onclick="myFunction()" />
  <button type="button" class="button" onclick="window.location.href='{{ url_for( 'show_csv_admin', nam = pro, variable1 = pid, variable2 = cid) }}';">DONE</button>
	<!-- </form> -->
	</center>
  
{% endblock %}