<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSV to Table</title>
  </head>

<body>
<script src="jquery.min.js"></script>
<script>
  function opsi(data){
    var allRows = data.split(/\r?\n|\r/);
    var table = "<table>";
    for(var singleRow=0;singleRow<allRows.length;singleRow++){
      if(singleRow === 0){
        table += "<thead>";
        table += "<tr>";
      } else{
        table += "<tr>";
      }
      var rowCells = allRows[singleRow].split(',');
      for(var rowSingleCell=0;rowSingleCell<rowCells.length;rowSingleCell++){
        if(singleRow === 0){
          table += "<th>";
          table += rowCells[rowSingleCell];
          table += "<th>";
        }else{
          table += "<td>";
          table += rowCells[rowSingleCell];
          table += "<td>";
        }
      }
      if(singleRow === 0){
        table += "</tr>";
        table += "</thead>";
        table += "<tbody>";
      }else{
        table += "</tr>";
      }
    }
    table += "</tbody>";
    table += "</table>";
    $("body").append(table);
  }
  document.getElementById("tab1").innerHTML = opsi($.ajax({
    url:"1.csv",
    dataType:"text"
  }).done(opsi););
  
</script>
<table id="tab1"></table>
</body>
</html> 