<head>
	<title>CMS CONTROL PANEL</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	{% block head%}{% endblock%}
	
</head>

<body>
	<div class="container-fluid" style="background: #87CEEB;">
		<div class="row">
			<div class="col-sm-4">
			</div>


			<div class="col-sm-4" style="background: #1A5276;border-radius: 3%; margin-top:10%;margin-bottom: 15%;margin-right:3%;margin-left:3%">
				<div class="col-sm-12" id="desc">
						{% block desc %}
						{% endblock %}    
				</div>

				<div class="col-sm-12" id="msg">
						{% block msg %}
						{% endblock %}
				</div>
								
				<div class="col-sm-12" id="login">
						{% block login %}
						{% endblock %}   
				</div>
				
				<div class="col-sm-12" id="faqs">
						{% block faqs %}
						{% endblock %}    
				</div>
				
			</div>



			<div class="col-sm-4">
			</div>
		</div>
	</div>
	
</body>
</html>